body {
    background-color: #808080;
    color: #060606;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

#current-time {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 18px;
}

