.verhniy-block {
    text-align: center;
    padding: 20px;
    background-color: rgb(135, 135, 137);
}

.serum-zvetom {
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.nizhniy-block {
    text-align: center;
    margin-top: 20px;
}

.knopka-kryglaya {
    background-color: lightgray;
    color: rgb(3, 3, 3);
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
}

.knopka-kryglaya:hover {
    background-color: darkgray;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}


.left-menu {
    float: left;
    width: 50%;
}

.left-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-menu ul li {
    margin-bottom: 5px;
}


.right-menu {
    float: right;
    width: 50%;
}

.right-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right-menu ul li {
    margin-bottom: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}


.left-menu {
    float: left;
    width: 50%;
}

.left-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-menu ul li {
    margin-bottom: 5px;
}


.right-menu {
    float: right;
    width: 50%;
}

.right-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right-menu ul li {
    margin-bottom: 5px;
}


.right-menu ul li a {
    display: block;
    padding: 10px;
    background: linear-gradient(to right, #ff6600, #ffcc00);
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    width: 90%; 
}