.verhniy-block {
    text-align: center;
    padding: 20px;
    background-color: lightblue;
}

.serum-zvetom {
    font-size: 36px;
    color: navy;
}

.nizhniy-block {
    text-align: center;
    margin-top: 20px;
}

.knopka-kryglaya {
    background-color: lightgray;
    color: red;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.knopka-kryglaya:hover {
    background-color: darkgray;
}
