.verhniy-block {
    text-align: center;
    padding: 20px;
    background-color: rgb(135, 135, 137);
}

.serum-zvetom {
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.nizhniy-block {
    text-align: center;
    margin-top: 20px;
}

.knopka-kryglaya {
    background-color: lightgray;
    color: rgb(3, 3, 3);
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
}

.knopka-kryglaya:hover {
    background-color: darkgray;
}

